<!DOCTYPE html>
<html lang="es">

<head>
	<title>Inicia sesión</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="apple-touch-icon" href="/assets/img/apple-icon.png">
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/clownfish.ico">

	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/templatemo.css">
	<link rel="stylesheet" href="/assets/css/custom.css">
	<link rel="stylesheet" href="/assets/css/bubbles.css">
	<link rel="stylesheet" href="/assets/css/submarine.css">
	<link rel="stylesheet" href="/assets/css/waves.css">
	<link rel="stylesheet" href="/assets/css/login.css">

    <!--Spring security-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossorigin="anonymous"/>


	<!-- Load fonts style after rendering the layout styles -->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
	<link rel="stylesheet" href="/assets/css/fontawesome.min.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Jersey+10&display=swap" rel="stylesheet">
	<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>
	<!-- Burbujas -->
	<div id="background-wrap">
		<div class="bubble x1"></div>
		<div class="bubble x2"></div>
		<div class="bubble x3"></div>
		<div class="bubble x4"></div>
		<div class="bubble x5"></div>
		<div class="bubble x6"></div>
		<div class="bubble x7"></div>
		<div class="bubble x8"></div>
		<div class="bubble x9"></div>
		<div class="bubble x10"></div>
	</div>


	<!-- Login -->

	<div class="login">

		<div class="container">
			<div>
				<div>
					<h1>Inicio de sesión</h1>
                    <form class="form-signin" method="post" action="/login">
						<div class="form-group">
                            <label for="username">Nombre de usuario: </label>
                            <input type="text" id="username" name="username" class="form-control" placeholder="Escriba su usuario" required autofocus>
						</div>

						<div class="form-group">
                            <label for="password">Contraseña: </label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Escriba su contraseña" required>
						</div>

						<div class="form-group">
							<div>
								<div>
                                    <input name="_csrf" type="hidden" value="b5EZAoA03VU0JrYgttjGAahMRKoNH1FGNTspjO8pcfBApPEGDqMtZLkC7jQZEYIXjvXyZc18aZI_JmJrDF9IutZNEsMhk8A3" />
									<button type="submit" class="btn btn-lg btn-register btn-block" name="login-submit">Iniciar sesión</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- SUBMARINE -->
	<div class="seaContainer">
		<div class="submarine__container">
			<div class="light"></div>
			<div class="submarine__periscope"></div>
			<div class="submarine__periscope-glass"></div>
			<div class="submarine__sail">
				<div class="submarine__sail-shadow dark1">
				</div>
				<div class="submarine__sail-shadow light1"></div>
				<div class="submarine__sail-shadow dark2"></div>
			</div>
			<div class="submarine__body">
				<div class="submarine__window one">

				</div>
				<div class="submarine__window two">

				</div>
				<div class="submarine__shadow-dark"></div>
				<div class="submarine__shadow-light"></div>
				<div class="submarine__shadow-arcLight"></div>
			</div>
			<div class="submarine__propeller">
				<div class="propeller__perspective">
					<div class="submarine__propeller-parts darkOne"></div>
					<div class="submarine__propeller-parts lightOne"></div>
				</div>
			</div>
		</div>
		<div class="bubbles__container">
			<span class="bubbles bubble-1"></span>
			<span class="bubbles bubble-2"></span>
			<span class="bubbles bubble-3"></span>
			<span class="bubbles bubble-4"></span>
		</div>
		<div class="ground__container">
			<div class="ground ground1">
				<span class="up-1"></span>
				<span class="up-2"></span>
				<span class="up-3"></span>
				<span class="up-4"></span>
				<span class="up-5"></span>
				<span class="up-6"></span>
				<span class="up-7"></span>
				<span class="up-8"></span>
				<span class="up-9"></span>
				<span class="up-10"></span>
			</div>
			<div class="ground ground2">
				<span class="up-1"></span>
				<span class="up-2"></span>
				<span class="up-3"></span>
				<span class="up-4"></span>
				<span class="up-5"></span>
				<span class="up-6"></span>
				<span class="up-7"></span>
				<span class="up-8"></span>
				<span class="up-9"></span>
				<span class="up-10"></span>
				<span class="up-11"></span>
				<span class="up-12"></span>
				<span class="up-13"></span>
				<span class="up-14"></span>
				<span class="up-15"></span>
				<span class="up-16"></span>
				<span class="up-17"></span>
				<span class="up-18"></span>
				<span class="up-19"></span>
				<span class="up-20"></span>
			</div>
		</div>
	</div>

	<!-- Start Script -->
	<script src="/assets/js/jquery-1.11.0.min.js"></script>
	<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/templatemo.js"></script>
	<script src="/assets/js/custom.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

    <!--Spring security-->
    <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=tutvznTtmjHo88yPPfrHSIUAjAyUsNZ2HbULkeute-gJ2uFMzsiAduFus_l0-mZ5" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="http://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cDovL2xvY2FsaG9zdDo4MDgwL2xvZ2lu"/>

	<!-- End Script -->
</body>

</html>