<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerrar sesión</title>
</head>
<body>
    <h1>Logout de la Aplicación</h1>
    
    <button id="logoutButton">Cerrar Sesión</button>

    <script>
        document.getElementById("logoutButton").addEventListener("click", function() {
            fetch('/logout', {
                method: 'POST'
            }).then(function(response) {
                if (response.redirected) {
                    // Redirige al usuario a la página de inicio de sesión
                    window.location.href = response.url;
                }
            }).catch(function(error) {
                console.error('Error al cerrar sesión:', error);
            });
        });
    </script>
</body>
</html>